body {
    background-color: #898989;
}
div#content {
    margin: 40px 40px;
    padding: 0;
    width: 700px;
    border: 0px solid black;
}
.clearfix {zoom:1;}
.clearfix: after {
    content: "";
    display: block;
    clear: both;
}
div#content div {
    margin: 0px 0px;
    width: 128px;
    height: 128px;
    float: left;
}
div#gs-icon {
    background: black url(../img/gs.jpg) no-repeat scroll top left; 
}
div#tw-icon {
    background: black url(../img/tw-blue.png) no-repeat scroll top left;
}
div#msg {
    font-family: helvetica, arial, freesans, clean, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 40px 10px;    
}
