body {
    background-color: #2D2D2D;
    font-family: 'Fredoka One', helvetica, arial, freesans, clean, sans-serif;
}
div#content {
    margin: 40px auto;
    padding: 0;
    /*
    width: 950px;
    */
    border: 0px solid black;
}
div#content div{
    margin: 0px auto;
    text-align: center;
}
div#heading{
    color: #C6C6C6;
    font-size: 26px;
    /*
    width: 750px;
    */
}
div#heading span{
    vertical-align: 60%;
}
div#song-info{
    color: #42CE2E;
    font-size: 30px; 
    /*
    width: 750px;
    */
    margin-top: 20px !important;
}
div#tw-icon {
    margin-top: 30px !important;
    background: black url(../img/tw-white.png) no-repeat scroll top left;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 128px;
    height: 128px;
}
div#tw-icon .loading {
    z-index: 100;
    position: relative;
    top: 50px;
    left: 0px; 
}
div#tw-icon a#tw {
    display: block;
    height: 0px;
    width: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px 0px;
    font-size: 30px;
    font-family: helvetica, arial, freesans, clean, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}
div#app-info {
    position: relative;
    margin: 45px auto 0px !important;
    width: 30px;
    height: 32px;
}
div#app-info i{
    font-size: 30px;
    color: #575656;
    cursor: pointer;
}
div#app-info span#credit {
    line-height: 32px;
    vertical-align: top;
    color: #4D4A4A;
    display: none;
}
div#app-info a{
    line-height: 32px;
    vertical-align: top;
    text-decoration: none;
    color: #575656;
}
div#app-info i:hover,
div#app-info a:hover {
    color: #C6C6C6;
}
p#msg {
    color: orange;
    font-size: 20px;
}
.clearfix {zoom:1;}
.clearfix: after {
    content: "";
    display: block;
    clear: both;
}

